{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Ticket Manager</h1>
    <p class="lead">Manage your tickets efficiently with our easy-to-use platform.</p>
    <hr class="my-4">
    <p>Get started by logging in or creating a new account.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
</div>
{% endblock %}
